body{
  font-family: 'Oxygen', sans-serif;
    font-size:16px;
  line-height:1.4;
}

.bg{
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  z-index:0;
background: linear-gradient(191deg, #eef257, #c4d8e8);
}

.header{
  padding: 25px 0px 25px 0px;
  position: fixed;
 width:100%;
  top:0;
  left:0;
z-index:5;
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
}


.duet img{
    padding-left:60px;
width:100px;
}

.signup{
color:#fff;
  width:70px;
  padding-right:60px;
}
.content{
position:relative;
  z-index:3;
}
.hero{
  max-width:100%;
  margin-top:120px;
  margin-right:100px;
    margin-left:100px;
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
}

.intro{
width:360px;
}

.intro b{
font-size:21px;
font-weight:700;
}


.heroimage img{
width:500px;
}
.section{
margin:40px 100px 40px 100px;
}
