body{
  font-family: 'Oxygen', sans-serif;
    font-size:16px;
  line-height:1.6;
}

.bg{
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  z-index:0;
	
	background: linear-gradient(0deg, #cbdaec, #ece842, #ff977f, #f39af0, #a19ff5, #5b8e6a);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	background-blend-mode: difference;
}

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.header{
	
  padding: 25px 0px 25px 0px;
  position: fixed;
 width:100%;
  top:0;
  left:0;
z-index:5;
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
}


.duet img{
    padding-left:60px;
width:100px;
}

.signup{
color:#fff;
  width:70px;
  padding-right:60px;
}
.content{
	
position:relative;
  z-index:3;
}
.hero{
   max-width:70%;
	margin-left:auto;
	margin-right:auto;
  margin-top:120px;
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
}

.intro{
width:360px;
}

.intro b{
font-size:21px;
font-weight:700;
}


.heroimage img{
	background-blend-mode:lighten;
width:500px;
}
.section,
.footer{
  max-width:50%;
	margin-left:auto;
	margin-right:auto;
}
intro img{
width:20px;
}

.dots{

	padding-top:40px;
	padding-bottom:40px;

}
.dots img{
	width:30px;
	height:30px;
}
.dot1,
.dot3,
.dot5{
  max-width:15%;
		margin-left:auto;
	margin-right:auto;
}

.dot2,
.dot4,
.dot6{
	text-align:right;
  max-width:40%;
		margin-left:auto;
	margin-right:auto;
}

.press{
  max-width:70%;
	margin-left:auto;
	margin-right:auto;
	 display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:flex-start;
}
.quotes{
	padding:20px;
	width:40%;
}
.footer{
font-size:14px;	
}
.logos {
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items: center;
	padding-bottom:20px;
}

.logos img{
width:70px;	
}

.logos .artsgrant{
width:100px;
}
