body{
  font-family: 'Oxygen', sans-serif;
    font-size:16px;
  line-height:1.6;
	color:#fff;
}

a{
color:#fff;
text-decoration:none;
padding-bottom:4px;
border-bottom:8px solid;
border-image: linear-gradient(120deg, rgb(0,143,104,0), rgb(250,224,66, 1)) 1;
	animation: gradient2 25s ease infinite;
}

@keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg{
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  z-index:0;
	
	background: linear-gradient(0deg, #734367, #f39af0, #a19ff5, #5b8e6a);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	background-blend-mode: difference;
}

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.header{
	  background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(225,240,245,1));
  padding: 25px 0px 25px 0px;
  position: fixed;
 width:100%;
  top:0;
  left:0;
z-index:5;
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
}


.duet img{
    padding-left:60px;
width:100px;
}

.signup{
color:#fff;
  width:70px;
  padding-right:60px;
}
.content{
	
position:relative;
  z-index:3;
}
.hero{
   max-width:70%;
	margin-left:auto;
	margin-right:auto;
  margin-top:180px;
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
}

.intro{
width:420px;
}

 b{
font-size:21px;
font-weight:700;
}


.heroimage img{
width:500px;
}
.section,
.footer{
  max-width:50%;
	margin-left:auto;
	margin-right:auto;
}
.section img{
	padding-left:25px;
	padding-right:25px;
width:30px;
}
.cta{
display:flex;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
text-align:center;
}
.visual{
		padding-top:40px;
	padding-bottom:40px;
  max-width:50%;
		margin-left:auto;
	margin-right:auto;
}
.visual img{
	width:100%;
		margin-left:auto;
	margin-right:auto;
}

.dots{
	padding-top:80px;
	padding-bottom:80px;
}

.dots img{
	width:30px;
	height:30px;
}
.dot1,
.dot3,
.dot5{
	text-align:left;	
  max-width:20%;
		margin-left:auto;
	margin-right:auto;
}

.dot2,
.dot4,
.dot6{
	text-align:right;
  max-width:40%;
		margin-left:auto;
	margin-right:auto;
}

.press{
  max-width:70%;
	margin-left:auto;
	margin-right:auto;
	 display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:flex-start;
}
.quotes{
	padding-top:20px;
	padding-bottom:20px;
	width:45%;
}
.footer{
font-size:14px;	
	padding-bottom:20px;
}
.logos {
 display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items: center;
	padding-bottom:20px;
}

.logos img{
width:70px;	
}

.logos .artsgrant{
width:160px;
}

@media (max-width:400px){
	
	a{
padding-bottom:2px;
border-bottom:4px solid;
border-image: linear-gradient(120deg, rgb(0,143,104,0), rgb(250,224,66, 1)) 1;
}

.duet img{
    padding-left:20px;
width:80px;
}

.signup{
  padding-right:20px;
}
	
.hero{
   max-width:90%;
  margin-top:100px;
 display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
}
.heroimage img{
width:300px;
}
	.visual,
	.section,
	.press{
   max-width:90%;
	}

	.logos {
flex-direction:column;
 display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
	padding-bottom:20px;
}


}
